html, body {
    color: gold;
}

.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

p {
    margin: 0;
}

.loginButton {
    border: black 1px solid;
    border-radius: 10px;
}

.mainTittle {
    font-size: 300px;
    font-weight: bold;
}

.login {
}

#loginPopup input {
    margin: 20px 10px 10px 0;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

#registerPopup input {
    margin: 20px 10px 10px 0;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

#loginPopup input [type='submit'] {
    margin: 10px 10px 10px 0;
    width: 50%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

#registerPopup input [type='submit'] {
    margin: 10px 10px 10px 0;
    width: 50%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
}

.closeButton {
    transform: rotate(45deg);
    float: right;
    margin: 1% 7% 0 0;
    font-size: 250%;
    color: grey;
    cursor: pointer;
}

label {
    float: left;
    margin-left: 2%;
}

#loginPopup {
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-color: white;
    border-radius: 10px;
    color: black;
}

#registerPopup {
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}