.posts {
    margin-top: 2%;
    top: 0;
    right: 0;
    width: 96%;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
}

.createPost input[type=text] {
    float: right;
    margin-right: 1%;
    width: 89%;
    resize: none;
    border: 2px solid royalblue;
    border-radius: 10px;
}

.createPost button {
    float: left;
    margin-left: 1%;
    margin-top: -1%;
}

.menuImage {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    padding: 0.5%;
    margin: 0;
    display: inline-block;
}

.post {
    position: relative;
    margin: 1% 1% 0 auto;
    border-radius: 10px;
    width: 89%;
    border: 2px solid royalblue;
    text-align: left;
}

.comment {
    position: relative;
    border-radius: 10px;
    text-align: left;
}

.comments {
    cursor: pointer;
    width: 50%;
    height: 100%;
    font-size: 18px;
    text-align: left;
    padding: 1%;
}

.commentSection {
    border-right: 2px solid royalblue;
    border-left: 2px solid royalblue;
    border-bottom: 2px solid royalblue;
    display: none;
    width: 80%;
    margin-left: auto;
    margin-right: 3%;
    border-radius: 0 0 10px 10px;
}

.ppic {
    display: block;
    alignment: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 2%;
    background-color: white;
    border: 2px solid royalblue;
    transform: translateX(-50%);
}

.imageHolder {
    transform: translateY(10%);
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 15%;
    position: absolute;
}

.contentHolder {
    display: inline-block;
    width: 90%;
    min-height: 300px;
    transform: translateX(10%);
}

.contentHolder a {
    text-decoration: none;
}

.commentPicture {
    transform: translate(-23%);
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 15%;
    position: absolute;
}

.commentPicture img {
    display: block;
    alignment: left;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 1%;
    background-color: white;
    border: 2px solid royalblue;
}

.commentContent {
    display: inline-block;
    width: 90%;
    transform: translateX(5%);
}