body {
    height: 80%;
    overflow: hidden;
}

html, body {
    background-color: white;
    color: black;
}

.modifyData {
    font-size: 150%;
    border-radius: 10px;
    margin: 2.4% 0.5% 0.5% 0.5%;
    padding: 0.5%;
    color: royalblue;
    border: 2px solid royalblue;
}

#imageViewer {
    border: 2px solid royalblue;
    border-radius: 20px;
    display: none;
    background-color: white;
    padding: 1%;
    position: fixed;
    top: 20%;
    left: 15%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    height: auto;
    width: 70%;
}

#darkener {
    background-color: black;
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;
}

#imageViewer img {
    width: 500px;
    height: 500px;
    display: block;
    float: left;
    object-fit: cover;
}

.commentContainer {
    background-color: royalblue;
}

.comment {

}

.comments {
    text-align: left;
    display: block;
    float: right;
    width: 50%;
    height: 600px;
    overflow-x: auto;
}

.picture {
    display: inline-block;
    margin: 1%;
    cursor: pointer;
    box-shadow: 0 4px 2px -2px gray;
    object-fit: cover;
}

.picture img {
    object-fit: cover;
}

.closeButton {
    transform: rotate(45deg);
    float: right;
    margin-top: -1%;
    font-size: 250%;
    color: grey;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: royalblue;
    fill: royalblue;
}

.icon-user-check {
    margin: 1%;
}

.icon-pencil {
    width: 50%;
    height: 50%;
}

.icon-images {
    width: 60%;
    height: 60%;
}

.icon-bubbles3 {
    width: 60%;
    height: 60%;
}

.icon-user {
    width: 60%;
    height: 60%;
}

.icon-users {
    width: 60%;
    height: 60%;
}

.coverPicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.profileContainer {
    background-color: white;
    position: absolute;
    top: 533px;
    left: 0;
    height: 45%;
    width: 100%;
}

.profilePicture {
    position: absolute;
    width: 24%;
    margin-left: 38%;
    top: -250px;
}

.profilePicture img {
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    max-height: 350px;
    object-fit: cover;
}

.profileTopic {
    z-index: -10;
    float: left;
    display: inline-block;
    margin: 1%;
    border: 2px solid royalblue;
    width: 18%;
    height: 85%;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}

.profileTopic:hover {
    filter: brightness(150%);
}

.profileTopic + .profileTopic + .profileTopic {
    float: right;
}

.profileContent {
    transform: translateY(95%);
    position: absolute;
    background-color: white;
    display: none;
    width: 100%;
    height: 100%;
}