html, body {
    margin: 0;
    height: 100%;
    background-color: royalblue;
    text-align: center;
    font-size: 500%;
}

hr {
    color: royalblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.languageBarItem {
    border: none;
    display: inline-block;
    margin-top: 1%;
    width: 5%;
}

.loginFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    min-height: 100px;
    color: gold;
    background-color: black;
}

li:last-child {
    border-right: none;
}

li img {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}


.active {
    background-color: royalblue;
}

.user_wrap {
    display: inline-block;
    background-color: white;
    border: 2px solid royalblue;
    width: 30%;
    height: 20%;
    margin: 1% auto;
}

.user_wrap img {
    margin-top: 5%;
    border-radius: 50%;
}